#container {
display: grid;
grid-template-columns: auto;
background-color: goldenrod;
gap: .3rem;
padding: .3rem;
grid-template-rows: repeat(16, 5rem);
}
#container > div{
    background-color: white;
    font-weight: bold;
    font-size: 3rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}